*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-width: 100vh;
    background-size: cover;
    background-position: center;
}

p{ 
    text-align: auto;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(245, 245, 245, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 8;
}

.logo{
    font-size: 26px;
    color: goldenrod;
    text-decoration: none;
    font-weight: 700;
}


.navbar a {
    position:relative;
    font-size: 16px;
    color: goldenrod;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: goldenrod;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

#bannerimage{
    width: 100%;
    background-image: url(../images/newbg2.jpg);
    height: 600px;
    background-position: center;
}

#bannerimage {
  width: 100%;
  height: 600px; /* Initial height, adjust as needed */
  background-image: url(../images/newbg2.jpg);
  background-position: center;
  background-size: cover; /* Make the background image cover the entire container */
}

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 10px 80px ;
    background-color: goldenrod;
    color: #fff;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3{
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
.col-3 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }

  .about-us{
    display:flex;
    align-items: center;
    width: 85%;
    margin: auto;
  }

  .about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
  }

  .content{
    padding: 35px
  }

  .content p{
    line-height: 1.5;
    margin: 15px 0px;
    text-align: left;
  }

  .content h2{
    line-height: 1.5;
    margin: 15px 0px;
    text-align: left;
  }

  .heading{
    text-align: center;
    margin-top: 25px;
  }


  .bproducts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }
  
  .imgs{
    width: 450px;
    position: relative;
  }

  .img{
    width: 100%;
    display: block;
    margin: auto;
  }

  .bracelet{
    width: 309px;;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
  }

  .bracelet:hover{
    opacity: 1;
  }
  .bracelet h1{
    font-size: 42px;
    color: #fff;
    margin-bottom: 10px;
  }

  .bracelet > *{
    transform: translateY(25px);
    transition: transform 0.6s;
  }

  .bracelet:hover > *{
    transform: translateY(0px);
  }


  .bracelet .btn{
    padding: 0.6em 1.3em;
    text-decoration: none;
    color: white;
    border: 2px #fff solid;
    letter-spacing: 1px;
    border-radius: 8px;
}

.bracelet .btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

.bracelet .btn, .card h1{
    transition: 0.3s;
    transform: translateY(120px);
}

.bracelet .btn, .card:hover h1 {
    transform: translateY(0);
}




.nproducts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }

  .necklace{
    width: 309px;;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
  }

  .necklace:hover{
    opacity: 1;
  }
  .necklace h1{
    font-size: 42px;
    color: #fff;
    margin-bottom: 10px;
  }

  .necklace > *{
    transform: translateY(25px);
    transition: transform 0.6s;
  }

  .necklace:hover > *{
    transform: translateY(0px);
  }


  .necklace .btn{
    padding: 0.6em 1.3em;
    text-decoration: none;
    color: white;
    border: 2px #fff solid;
    letter-spacing: 1px;
    border-radius: 8px;
}

.necklace .btn:hover{
    background: rgba(255, 255, 255, 0.3);
}


.eproducts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }
  
  .mgi{
    width: 450px;
    position: relative;
  }

  .img{
    width: 100%;
    display: block;
    margin: auto;
  }

  .earrings{
    width: 309px;;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
  }

  .earrings:hover{
    opacity: 1;
  }
  .earrings h1{
    font-size: 42px;
    color: #fff;
    margin-bottom: 10px;
  }

  .earrings > *{
    transform: translateY(25px);
    transition: transform 0.6s;
  }

  .earrings:hover > *{
    transform: translateY(0px);
  }


  .earrings .btn{
    padding: 0.6em 1.3em;
    text-decoration: none;
    color: white;
    border: 2px #fff solid;
    letter-spacing: 1px;
    border-radius: 8px;
}

.earrings .btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

.earrings .btn, .card h1{
    transition: 0.3s;
    transform: translateY(120px);
}

.earrings .btn, .card:hover h1 {
    transform: translateY(0);
}



.rproducts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }

  .rings{
    width: 309px;;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
  }

  .rings:hover{
    opacity: 1;
  }
  .rings h1{
    font-size: 42px;
    color: #fff;
    margin-bottom: 10px;
  }

  .rings > *{
    transform: translateY(25px);
    transition: transform 0.6s;
  }

  .rings:hover > *{
    transform: translateY(0px);
  }


  .rings .btn{
    padding: 0.6em 1.3em;
    text-decoration: none;
    color: white;
    border: 2px #fff solid;
    letter-spacing: 1px;
    border-radius: 8px;
}

.rings .btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

.eproduct{
    background-color: goldenrod;
    padding-bottom: 15px;
    padding-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 40px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
}

.eproduct h1{
    color: #fff;
    text-align: left;
    vertical-align: top;
}

.eproduct p{
    color: #fff;
    text-align: left;
    vertical-align: text-top;
}

.bproduct{
    background-color: goldenrod;
    padding-bottom: 15px;
    padding-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 40px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
}

.bproduct h1{
    color: #fff;
    text-align: left;
    vertical-align: top;
}

.bproduct p{
    color: #fff;
    text-align: left;
    vertical-align: text-top;
}

.nproduct{
    background-color: goldenrod;
    padding-bottom: 15px;
    padding-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 40px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
}

.nproduct h1{
    color: #fff;
    text-align: left;
    vertical-align: top;
}

.nproduct p{
    color: #fff;
    text-align: left;
    vertical-align: text-top;
}

.rproduct{
    background-color: goldenrod;
    padding-bottom: 15px;
    padding-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 40px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
}

.rproduct h1{
    color: #fff;
    text-align: left;
    vertical-align: top;
    padding-top: 0%;
}

.rproduct p{
    color: #fff;
    text-align: left;
    vertical-align: text-top;
}

.container4{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    align-items: center;
  }
  .container4 .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container4 .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: goldenrod;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container4 .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: goldenrod;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: goldenrod;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: goldenrod;
  }

.faq p{
    margin: 15px;
    text-decoration: none;
    padding: 5px;
}

.faq h3{
    margin: 15px;
    text-decoration: none;
    padding: 10px;
    color: goldenrod;
    text-align: center;
}

.payments{
    display: inline-flex;
}

.category-earrings{
    padding: 20px;
}

.category-rings{
    padding: 20px;
}

.category-necklaces{
    padding: 20px;
}

.category-bracelets{
    padding: 20px;
}

.cart-btn{
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 15px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.thecategorypage{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.picside{
    padding: 20px;
    width: 50%;
    display: inline-block;
}

.text-side{
    float: right;
    width: 50%;
    display: inline-block;
    padding: 20px;
    
}

.text-side h1{
    color: rgb(199, 153, 36);
}


.wrapper{
    height: 55px;
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: goldenrod;
    border-radius: 6px;
  }

.wrapper span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    color: white;
  }
  .wrapper span.num{
    font-size: 16px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    pointer-events: none;
  }


  .input-box2 {
    position: relative;
    height: 36px;
    max-width: 900px;
    width: 60%;
    background: #fff;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    
  }
  .input-box2 img,
  .input-box2 .button5 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box2 img {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box2 input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .input-box2 .button5 {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 4px 4px;
    border-radius: 4px;
    background-color: goldenrod;
    cursor: pointer;
  }
  .input-box2 .button5:active {
    transform: translateY(-50%) scale(0.98);
  }


  .navbar-top{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#autocomplete-results {
  position: absolute;
  border: 1px solid goldenrod;
  max-height: 150px;
  overflow-y: auto;
  display: block;
  width: 100%;
  margin-top: 10px; /* Add margin to the top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a visual separation */
  z-index: 10;
  background-color: #fff;
}

#autocomplete-results div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

#autocomplete-results div:hover {
  background-color: goldenrod;
}

.wrapper7{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper7 h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: goldenrod;
  text-align: center;
}
.wrapper7 h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
}
.wrapper7 form{
  margin-top: 30px;
}
.wrapper7 form .data-box{
  height: 45px;
  margin: 18px 0;
}
form .data-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.data-box input:focus,
.data-box input:valid{
  border-color: #4070f4;
}

form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.data-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: goldenrod;
  cursor: pointer;
}
.data-box.button input:hover{
  background: #0e4bf1;
}
form .text7 h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text7 h3 a{
  color: goldenrod;
  text-decoration: none;
}
form .text7 h3 a:hover{
  text-decoration: underline;
}









.footer {
  margin-top: 150px;
  width: 100%;
  padding: 10px;
  background-color: goldenrod;
  color: #fff;
  display: flex;
  flex-direction: column; /* Display items vertically */
  align-items: center; /* Center items horizontally */
  position: relative; /* Ensure relative positioning for absolute positioning of images */
}

.footer div {
  text-align: center;
  margin-bottom: 20px; /* Add some spacing between columns */
}

.col-2 {
  flex-grow: 1; /* Let the middle column grow to occupy available space */
}

.footer div h3 {
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.col-1 a, .col-3 a {
  display: block;
  text-decoration: none;
  color: #fff; /* Same color as before */
  margin-bottom: 10px;
}

form input {
  width: calc(100% - 20px); /* Make input full width with some padding */
  max-width: 400px; /* Set maximum width for better readability */
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Reduce margin for better spacing */
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.footer-images {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Left alignment for larger screens */
  display: none; /* Hidden by default */
}

.footer-images img {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* For smaller screens, center align images */
  .footer-images {
      left: 50%; /* Center alignment */
      transform: translateX(-50%); /* Center using transform */
  }
}

@media only screen and (min-width: 768px) {
  .footer {
      flex-direction: row; /* Display items horizontally for larger screens */
      justify-content: space-between; /* Distribute items evenly */
      align-items: flex-start; /* Align items at the start */
      padding: 10px 80px; /* Adjust padding for larger screens */
  }

  .footer div {
      margin-bottom: 0; /* Reset margin for larger screens */
  }

  .footer-images {
      display: block; 
  }
}

.category-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: nowrap; 
}

.category {
  flex: 0 0 calc auto; 
  margin: 10px;
}

.card {
  background-size: cover;
  color: white;
  border-radius: 18px;
  box-shadow: 0px 11px 15px 0px #000;
  width: 17em; 
  height: 22em; 
  position: relative;
  background-position: center;
  overflow: hidden; 
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(218, 165, 32, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 18px;
}

.overlay:hover {
  opacity: 1;
}

.overlay h1 {
  margin-bottom: 10px;
  color: white;
}

.overlay .btn {
  padding: 8px 20px;
  text-decoration: none;
  color: white;
  border: 2px solid #fff;
  border-radius: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}

.overlay .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 479px) {
  .category-container {
      flex-direction: column; 
      align-items: center; 
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}






.container .btn:hover {
  background-color: black;
}

.about-us {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
}

.about-us img {
  width: 50%; /* Adjusted width for the image */
  height: auto; /* Maintain aspect ratio */
}

.content {
  flex: 1; /* Allow the text content to expand and fill the remaining space */
  padding: 35px;
}

.content p, .content h2 {
  line-height: 1.5;
  margin: 20px 0; /* Adjusted margin */
  text-align: left;
}

.heading {
  text-align: center;
  margin-top: 25px;
}

/* Media query for mobile and tablet screens */
@media screen and (max-width: 768px) {
  .about-us {
      flex-direction: column; /* Display items vertically */
  }

  .about-us img {
      width: 100%; /* Ensure the image fills the container */
      height: auto; /* Maintain aspect ratio */
  }

  .content {
      padding: 20px; /* Adjusted padding for better spacing */
  }
}







.thecategorypage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picside, .text-side {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.text-side h1 {
  color: rgb(199, 153, 36);
}

.wrapper {
  height: 55px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: goldenrod;
  border-radius: 6px;
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: white;
}

.wrapper span.num {
  font-size: 16px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  pointer-events: none;
}

.input-box2 {
  position: relative;
  max-width: 900px;
  width: 100%;
  background: #fff;
  margin: 20px auto; /* Center the input box */
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
}

.input-box2 img,
.input-box2 .button5 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-box2 img {
  left: 20px;
  font-size: 30px;
  color: #707070;
}

.input-box2 input {
  height: 100%;
  width: calc(100% - 245px); /* Adjust input width for button and icon */
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 65px; /* Adjust padding for button and icon */
  background-color: transparent;
}

.input-box2 .button5 {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 4px 4px;
  border-radius: 4px;
  background-color: goldenrod;
  cursor: pointer;
}

.input-box2 .button5:active {
  transform: translateY(-50%) scale(0.98);
}

@media only screen and (min-width: 768px) {
  .thecategorypage {
      flex-direction: row;
  }
  
  .picside, .text-side {
      width: 50%;
  }
}










.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  background: goldenrod;
}

.toggle-menu {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: goldenrod;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.toggle-btn {
  cursor: pointer;
  font-size: 20px;
  color: blue;
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu {
  display: block;
}





/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}